.brand-body{
    height: 100%;
    padding: 1rem;
    .header{
        display: flex;
        justify-content: space-between;
    }
    .form{
        margin-top: 1rem;
        form{
            display: flex;
            align-items: baseline;
            gap: 1rem;  
            button{
                height: 54px;
            }
        }
    }
    .table{
        height: 70%;
        overflow-y: scroll;
        table{
            border-collapse: collapse;
            th{
                background-color: var(--primary);
                color: #fff;
                position: sticky;
                top: 0;
            }
        }
        table, th, td{
            border: 1px solid #333;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
        tr:hover {background-color: #ddd;}
    }
    /* width */
    ::-webkit-scrollbar {
        width: 0;
    }
}